Repository LitinskayaDasha15/DevCalc, pull requests merged in 2024-01, with the labels that each got.

#25 Генератор случайного числа
  DevCalc/src/main/java/laba_2/RandomNumberGenerator.java
  DevCalc/src/test/java/laba_2/RandomNumberGeneratorTest.java
Labels: TagKashapov, laba_2

#26 Branch dev girfanov
  DevCalc/src/main/java/laba_2/ArrayGenerator.java
  DevCalc/src/test/java/laba_2/ArrayGeneratorTest.java
Labels: TagGirfanov, laba_2

#27 Branch dev sahibgareev
  DevCalc/src/main/java/laba_2/BubbleSort.java
  DevCalc/src/test/java/laba_2/BubbleSortTest.java
Labels: TagSahibgareev, laba_2
